rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /studentInvitations/{document=**} { allow read, write: if false; }
    match /studentAccounts/{document=**} { allow read, write: if false; }
    match /teacherStudentRelationships/{document=**} { allow read, write: if false; }
    match /studentUsage/{document=**} { allow read, write: if false; }
    match /{document=**} { allow read, write: if false; }
  }
}
